.header {
  background-color: #ed5353;
  height: 5rem;
  border-radius: 0 0 2rem 2rem;
}

.headerItems {
  display: flex;
  justify-content: space-between;
  margin: auto 5rem;
  height: 100%;
  align-items: center;
}

.logo{
    color: #fff;
    
}

.loginBtn {
    border-radius: 0.4375rem;
    border: 1.5px solid #fff;
    background: #ed5353;
    padding: 0.5rem;
    width: 6rem;
    color: #fff;
    cursor: pointer;
}

.registerBtn {
    border-radius: 0.4375rem;
    border: 1.5px solid #fff;
    color: #ed5353;
    background-color: #fff;
    padding: 0.5rem;
    width: 6rem;
    margin-left: 2rem;
    cursor: pointer;
}
